
.bonus-mission-container {
    display: flex;
    background-color: #8f8c6d;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    color: black;
    padding: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.bonus-mission-description-container {
    display: flex;
    flex-direction: column;
    background-color: #8f8c6d;
    padding: .25rem;
    align-items: center;
    justify-content: center;
}

.bonus-mission-container,
.bonus-mission-description-container {
    width: 100%;
    margin: 0;
}

.inner-collapsible .collapsible-button {
    font-size: medium;
    width: 100%;
    box-sizing: border-box;
}

.inner-collapsible:hover .collapsible-button:hover {
    background-color: #750D02;
    color: bisque;
}

.inner-description {
    background-color: #fdd4a3;
    color: black;
    text-align: left;
    font-size: medium;
    margin-left: .5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.inner-button-content {
    display: flex;
    flex-direction: row;
    background-color: #fdd4a3;
    gap: 1rem;
}
.inner-button-content:hover {
    background-color: #750D02;
    color:bisque;
}

@media (max-width: 500px) {
    .bonus-mission-title,
    .bonus-mission-description,
    .bonus-mission-reward {
        font-size: 1rem;
    }
}