.navbar {
    background-color: #750D02;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0, 111, 130, 1.0);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.navBar-container {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-links {
    display: flex;
    gap: 2rem;
    background-color: #750D02;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    background-color: #8f8c6d;
    color: #000000;
}

.nav-link:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
}


@media (max-width: 500px) {
    .navbar {
    justify-content: center;
    gap: 1rem;
    }

    .navBar-container,
    .navBar-links {
    display: contents;
    }
}