.navbar {
    background-color: #3b0b04;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navBar-container {
    font-size: 1.5rem;
    font-weight: bold;
}

.navBar-links {
    display: flex;
    gap: 2rem;
    background-color: #3b0b04;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    background-color: #3b0b04;
    color: #04c4c4;
}

.nav-link:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.0);
}
