
.team-info-box {
    width: 80%;
    height: 45%;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 5%;
}

.team-info-box, .team-points-box {
    text-align: center;
    border-radius: 8px;
    background-color: #fdd4a3;
    color: black;
    padding: 1rem;
}

.team-points-box {
    padding: 0.5rem 0.5rem;
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdd4a3;
    border-radius: 8px;
}

.team-info-title {
    background-color: #fdd4a3;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.inventory-items {
    display: flex;
    background-color: #fdd4a3;
    justify-content: center;
    margin-top: 1rem;
}

.inventory-list-text {
    background-color: #fdd4a3;
}
