.admin-page {
    padding-top: 2rem;
}

.team-group-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%; 
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.team-wrapper {
    display: flex;
    justify-content: center; 
}


@media (max-width: 1350px) {
    .team-group-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 90%;
    }
}


@media (max-width: 850px) {
    .team-group-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 95%;
    }
}