.admin-page {
    padding-top: 2rem;
}

.team-group-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    align-items: start;
    justify-content: center;
    margin-bottom: 5rem;
    gap: 3rem;
}

.team-wrapper {
    display: flex;
    justify-content: center; 
}

.team-groups {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
}

@media (max-width: 1350px) {
    .team-group-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 90%;
    }
}

@media (max-width: 850px) {
    .team-group-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 95%;
    }
}