.main-content {
    width: 100%;
    height: 100vh; 
}

.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 2rem; 
    margin: 0;
}

.page-title {
    text-align: center;
    margin-bottom: 2.5rem;
    border-radius: 8px;
    width: 100%;
    background-color: #fdd4a3;
    color: black;
    padding: 1rem;
    margin-top: 1rem;
}

.page-title {
    letter-spacing: 3px;
    /* box-shadow: 6px 6px 12px rgba(117, 13, 2, 1.0); */
}

.bingo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%; 
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.team-groups {
    gap: 1rem; 
}

.bonus-missions-home-page,
.action-feed-wrapper {
    margin: 0 auto; 
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8f8c6d;
    border-radius: 8px;
}

.actionfeed-and-mission-wrapper {
    position: absolute;
    top: calc(13% + 20px); 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    align-items: center;
}

.bonus-missions-home-page {
    width: 100%; 
}

.action-feed-wrapper {
    display: flex;
    background-color: #8f8c6d;
    text-align: left;
    margin-bottom: 2.5rem;
    border-radius: 8px;
    color: black;
    padding: 1rem;
    margin-top: 0;
}

.action-feed-dropdown {
    margin: 0;
    font-size: medium;
}

.everything-else {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    width: 100%;
}

@media (max-width: 1650px) {
    .everything-else {
        margin-top: 18%;
    }
}

@media (max-width: 1500px) {
    .bingo-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 90%;
    }

    .actionfeed-and-mission-wrapper {
        top: 10%; 
    }

    .everything-else {
        margin-top: 20%;
    }
}

@media (max-width: 1300px) {
    .everything-else {
        margin-top: 25%;
    }
}

@media (max-width: 1050px) {
    .everything-else {
        margin-top: 30%;
    }
}

@media (max-width: 950px) {
    .everything-else {
        margin-top: 35%;
    }
}

@media (max-width: 800px) {
    .actionfeed-and-mission-wrapper {
        top: 7%; 
    }

    .everything-else {
        margin-top: 45%;
    }

    .bingo-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 90%;
    }
}

@media (max-width: 690px) {
    .actionfeed-and-mission-wrapper {
        top: 8%; 
    }

    .everything-else {
        margin-top: 50%;
    }
}

@media (max-width: 575px) {
    .everything-else {
        margin-top: 60%;
    }
}

@media (max-width: 490px) {
    .everything-else {
        margin-top: 70%;
    }
}

@media (max-width: 410px) {
    .actionfeed-and-mission-wrapper {
        top: 10%; 
    }
    .everything-else {
        margin-top: 85%;
    }
}

@media (max-width: 375px) {
    .actionfeed-and-mission-wrapper {
        top: 10%; 
    }
    .everything-else {
        margin-top: 98%;
    }
}