.main-content {
    width: 100%;
    height: 100vh; 
}

.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 2rem; 
    margin: 0;
}

.page-title {
    text-align: center;
    margin-bottom: 2.5rem;
    border-radius: 8px;
    width: 100%;
    background-color: #fdd4a3;
    color: black;
    padding: 1rem;
    margin-top: 1rem;
}

.page-title {
    letter-spacing: 3px;
    box-shadow: 6px 6px 12px rgba(117, 13, 2, 1.0);
}

.bingo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%; 
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.team-groups {
    gap: 1rem; 
}

.bonus-missions-home-page,
.action-feed-wrapper {
    margin: 0 auto; 
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionfeed-and-mission-wrapper {
    position: absolute;
    top: 13%; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    align-items: center;
}

.bonus-missions-home-page {
    width: 100%; 
}

.action-feed-wrapper {
    display: flex;
    background-color: #8f8c6d;
    text-align: left;
    margin-bottom: 2.5rem;
    border-radius: 8px;
    color: black;
    padding: 1rem;
    margin-top: 0;
}

.action-feed-dropdown {
    margin: 0;
    font-size: medium;
}

.everything-else {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

@media (max-width: 1650px) {
    .everything-else {
        padding-top: 20%;
    }
}

@media (max-width: 1350px) {
    .bingo-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 90%;
    }

    .actionfeed-and-mission-wrapper {
        top: 10%; 
    }

    .everything-else {
        padding-top: 25%;
    }
}

@media (max-width: 1100px) {
    .bingo-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 95%;
    }

    .actionfeed-and-mission-wrapper {
        top: 8%; 
    }

    .everything-else {
        padding-top: 30%;
    }
}

@media (max-width: 950px) {
    .everything-else {
        padding-top: 35%;
    }
}

@media (max-width: 800px) {
    .everything-else {
        padding-top: 45%;
    }
}

@media (max-width: 650px) {
    .everything-else {
        padding-top: 55%;
    }
}

@media (max-width: 550px) {
    .everything-else {
        padding-top: 60%;
    }
}

@media (max-width: 500px) {
    .page-title {
        font-size: 1rem;
    }

    .bingo-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 60%;
        justify-content: center;
    }

    .actionfeed-and-mission-wrapper {
        top: 8%; 
    }

    .everything-else {
        padding-top: 75%;
    }
}

@media (max-width: 450px) {
    .everything-else {
        padding-top: 80%;
    }
}

@media (max-width: 380px) {
    .everything-else {
        padding-top: 95%;
    }
}
