.team-page-wrapper {
    padding-top: 2rem;
}

.team-columns {
    margin-top: 2%;
    display: flex;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.team-inventory-container {
    flex: 1;
}

.team-bingo-board {
    flex: 2;
}

.inventory-container, .team-bingo-board, .team-predeclared-bingo-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 8px;
    padding: 1rem;
}

.team-bingo-board {
    padding: 0;
    width: 100%;
}

@media (max-width: 1350px) {
    .team-columns {
        flex-direction: column;
        align-items: center;
    }

    .team-inventory-container,
    .team-bingo-board {
        width: 100%;
    }
}
