.team-page-wrapper {
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    width: 80%;
    margin-top: 0;
    margin-bottom: 2rem;
    align-items: start;
}

.team-bingo-board {
    flex: 1;
    width: 100%;
    max-height: 70vh;
}

.team-inventory-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
    gap: 1rem;
}

.team-bingo-board {
    padding: 0;
    width: 100%;
}

.password-page {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100vh;
    top: 30%;
    text-align: center;
}

.input-container {
    background-color: #fdd4a3;
    color: black;
    box-shadow: 5 5 10px rgba(117, 13, 2, 1.0);
    border-radius: 8px;
    padding: 20px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
}

.actionfeed-and-mission-wrapper-team-page {
    position: absolute;
    top: 125px;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1100;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    align-items: center;
    background-color: #8f8c6d;
    border-radius: 8px;
    box-shadow: 6px 6px 12px rgba(117, 13, 2, 1.0);
}

.everything-else-team-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}


@media (max-width: 1650px) {
    .everything-else-team-page {
        margin-top: 8%;
    }
}

@media (max-width: 1350px) {

    .team-columns {
        width: 100%;
        justify-content: center;
        gap: 1rem;
    }

    .actionfeed-and-mission-wrapper-team-page {
        top: 16%; 
    }

    .everything-else-team-page {
        margin-top: 8%;
    }
}

@media (max-width: 950px) {
    .actionfeed-and-mission-wrapper-team-page {
        top: 16%; 
    }

    .everything-else-team-page {
        margin-top: 10%;
    }
}

@media (max-width: 800px) {
    .team-columns {
        display: flex;
        flex-direction: column;
    }

    .actionfeed-and-mission-wrapper-team-page {
        top: 10%; 
    }

    .everything-else-team-page {
        margin-top: 15%;
    }
}

@media (max-width: 650px) {
    .everything-else-team-page {
        margin-top: 20%;
    }
}

@media (max-width: 550px) {
    .everything-else-team-page {
        margin-top: 25%;
    }
}

@media (max-width: 400px) {
    .actionfeed-and-mission-wrapper-team-page {
        top: 11%; 
    }

    .everything-else-team-page {
        margin-top: 40%;
    }
}
