.saboteur-page {
    padding-top: 2rem;
}

.sab-boards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%; 
    width: 100%;
    height: 100vh;
    margin: 0; 
    padding: 0;
}

@media (max-width: 1350px) {
    .sab-boards-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
